@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.primary.100');
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary.200');
}

::-webkit-scrollbar-track {
  background: theme('colors.primary.800');
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  @apply antialiased bg-primary text-base overflow-x-hidden;
}

main {
  @apply mt-28 md:mt-40 lg:mt-12 container-custom;
}

.text-shadow {
  text-shadow: 0 0 2px black;
}

.container-custom {
  @apply max-w-6xl mx-auto px-10 md:px-12;
}
